.carousel-img {
    height: 50vh;
}

.wsp {
    position: fixed;
    bottom: 7px;
    right: 30px;
    border-radius: 40px;
    padding: 5px 12px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
}

.wsp-img {
    width: 45px;
}